<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bill</title>
    {% load static %}
</head>
<body>
<center><table width="75%" height="400px" style="margin:100px;border:1px solid rgba(0,0,0,.5);padding:75px;">
    <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name</td><td>:&nbsp;&nbsp;&nbsp;{{ Name }}</td></tr>
    <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Price</td><td>:&nbsp;&nbsp;&nbsp;{{ Price }}</td></tr>
    <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quantity</td><td>:&nbsp;&nbsp;&nbsp;{{ Quatity }}</td></tr>
    <tr><td><hr></td><td><hr></td></tr>
    <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total</td><td>:&nbsp;&nbsp;&nbsp;{{ Total }}</td></tr>
</table></center>
</body>
</html>