<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item View</title>
        {% load static %}
    <link href="{% static 'web/css/style.css' %}" rel='stylesheet' type='text/css' />
    <link href="//fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">
</head>
<body>
<header>
<div style="height:505px;background:rgba(255,255,255,.3);padding-top:150px;">
<center><div><h2 style="color:white;" class="wthree">Foodie</h2>
    <a href="http://127.0.0.1:8000/login/"><div class="raju" style="line-height:50px;background:rgba(200,25,25,.8);color:white;width:300px;height:50px;padding:5px;margin:2px;border-radius:50px;">Login</div></a>
    <a href="http://127.0.0.1:8000/food/"><div class="raju" style="line-height:50px;background:rgba(200,25,25,.8);width:300px;color:white;height:50px;padding:5px;margin:2px;border-radius:50px;">Register</div></a>
    <a href="http://127.0.0.1:8000/items/"><div class="raju" style="line-height:50px;background:rgba(200,25,25,.8);width:300px;color:white;height:50px;padding:5px;margin:2px;border-radius:50px;">Admin</div></a></div></center>
</div></header>
</div>
</body>
</html>